h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

time {
    display: block;
    margin: auto;
    text-align: center;
}

hr {
    width: 80%;
}

.pv-container {
    width: 80%;
    margin: 0 auto;
}

.pv-content {
    display: inline;
}

.pv-content + .pv-content {
    margin-left: 10px;
}

.pv-content span + span {
    margin-left: 10px;
}

.pv-content + strong {
    margin-left: 10px;
}

strong + .pv-content {
    margin-left: 10px;
}

.pv-content + img {
    margin-left: 10px;
}

.note {
    cursor: pointer;
}

.note-new {
    background-color: #dae3fc;
}

.note-learn {
    background-color: #97f7ad;
}

.note-recall {
    background-color: #f59b80;
}