.pv-content {
    display: inline;
}

.pv-content + .pv-content {
    margin-left: 10px;
}

.pv-content span + span {
    margin-left: 10px;
}

.pv-content + strong {
    margin-left: 10px;
}

strong + .pv-content {
    margin-left: 10px;
}

.pv-content + img {
    margin-left: 10px;
}

.note-new {
    background-color: #ffe599;
    cursor: pointer;
}