.pv-content {
    display: inline;
}

.pv-content + .pv-content {
    margin-left: 10px;
}

.pv-content span + span {
    margin-left: 10px;
}

.pv-content + strong {
    margin-left: 10px;
}

strong + .pv-content {
    margin-left: 10px;
}

.pv-content + img {
    margin-left: 10px;
}

.note {
    cursor: pointer;
}

.note-new {
    background-color: #dae3fc;
}

.note-learn {
    background-color: #97f7ad;
}

.note-recall {
    background-color: #f59b80;
}